.label {
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 8;
}

#keyboard .button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #707070;
    -fx-border-color: none;
    -fx-font-weight: bold;
}
